{% extends "base.html" %}
{% load static %}
{% block title %} EOWM - About {% endblock title %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">About Us</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">About Us</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/WhatsApp Image 2022-04-09 at 8.41.44 PM.jpeg' %}" alt="Image">
            </div>
            <div class="col-lg-6">
                <h2 class="display-4 font-weight-bold mb-4">Edith Okubanjo World Ministry</h2>
                <p>Rev Edith Adefunke Okubanjo received the call of God upon her life in 1982 while she was studying abroad in the United States of America.</p>
                <p>On that fateful night, our Lord Jesus Christ appeared to her as she slept, anointed her with oil, and instructed her to go and preach the gospel; to heal the sick, and set those who have been held spiritually captive free. She accepted
                    her charge, and has been doing so ever since.</p>
                <p>Through her unceasing ministrations and efforts many sick have been healed in the name of Jesus Christ of Nazareth.</p>
                <div class="row py-2">
                    <div class="col-sm-6">

                        <h4 class="font-weight-bold">One Hour With Mama</h4>
                        <p>An hour to learn at the feat of our highly esteemed mother in Christ</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="font-weight-bold">EOWM Live on facebook</h4>
                        <p>Join Mama on facebook as she lecture on keeping right relationships with God, your spouse and everyone around you</p>
                    </div>
                </div>
                <a href="" class="btn btn-lg px-4 btn-outline-primary">Learn More</a>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Features Start -->
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-lg-4 p-0">
                <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                    <i class="display-3 text-primary mr-3"></i>
                    <div class="">
                        <h2 class="text-white mb-3">Prayer</h2>
                        <p>Communicating with God is eccential,Prayer brings you closer to the Father. Do you want to pray in a quite and beautiful environment, Healing Camp is the place
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="d-flex align-items-center bg-primary text-white px-5" style="min-height: 300px;">
                    <i class="display-3 text-secondary mr-3"></i>
                    <div class="">
                        <h2 class="text-white mb-3">Seminar</h2>
                        <p>Do you have a seminar or are you planning on having one, you can, with our good looking halls, you can hold your seminars, with confidence
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                    <i class="display-3 text-primary mr-3"></i>
                    <div class="">
                        <h2 class="text-white mb-3">School Programs</h2>
                        <p>Do you have any school activities and you're looking for the right place, Healing Camp got you covered, you can organize school activities such as interhouse sport, school seminals, games and many more
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


  <!-- Team Start -->
  <div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5 ">
        <h4 class="text-primary font-weight-bold">EOWM</h4>
        <h4 class="display-4 font-weight-bold">Team</h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-5 ml-auto">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top mama-pic" src="{% static 'img/WhatsApp Image 2022-04-09 at 8.41.42 PM.jpeg' %}" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Rev. Edith Okubanjo </h4>
                    <p class="card-text">Founder</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 ml-auto">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="{% static 'img/IMG_3119.JPG' %}" alt="" height="180px">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Pastor Clemet Adeniyi</h4>
                    <p class="card-text">Admin</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 ml-auto">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="{% static 'img/IMG_1118.JPG' %}" alt="" height="180px">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Taiwo Adeniyi</h4>
                    <p class="card-text">Secretary</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="img/IMG-20220327-WA0001.jpg" alt="" height="180px">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Collins David</h4>
                    <p class="card-text">Media/ Software Developer</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Team End -->

{% endblock content %}