{% extends 'base.html' %}



{% block content %}

<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">signUp</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">SignUp</p>
        </div>
    </div>
</div>
<div class="container">
    {% if not user.is_authenticated %}
    <h4>Sign Up</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <div class="mb-3">
            <label for="id_username" class="form-label">*Username</label>
            <input type="text" autofocus maxlength="150" name="username" class="form-control" id="id_username" placeholder="Username" required>
            <span class="helptext"><small> 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small></span>
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">*Email</label>
            <input type="email" maxlength="254" name="email" class="form-control" id="id_email" required>
        </div>
    
    <div class="mb-3">
        <label for="id_church" class="form-label">Church</label>
        <input type="text" maxlength="250" name="church" class="form-control" id="id_church">
    </div>
    <div class="mb-3">
        <label for="id_password1" class="form-label">*Password</label>
        <input type="password" autocomplete="new-password" name="password1" class="form-control" id="id_password1">
    </div>
    <small>
        
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </small>
    <div class="mb-3">
        <label for="id_password2" class="form-label">*Password Confirmation</label>
        <input type="password" autocomplete="new-password" name="password2" class="form-control" id="id_password2">
    </div> -->
    <button class="btn btn-success" type="submit">Sign Up</button>
</form>
{% else %}

<h4>You are already a user, you can't signUp again. Go <a href="{% url 'index' %}">Home</a></h4>
{% endif %}
</div>
{% endblock content %}