{% extends "base.html" %}
{% load static %}
{% block title %} EOWM - Booking List {% endblock title %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">BOOKING LIST</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">BOOKING LIST</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<div class="container pt-5">
  <h5 style="color: red; text-align: center;">Make Payment Before 24hrs if not booking will be canceled by Admin</h5>
<div class="row">
  
  
  
  {% for x in booking_list %}
    <div class="card mb-3" style="max-width: 500px; margin:2%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if x.room.category %}
            {% if x.room.beds > 1 %}
            
            <img src="{% static 'img/IMG_6382.JPG' %}" class="card-img" alt="...">
            {% else %}
            <img src="{% static 'img/IMG_0337.JPG' %}" class="card-img" alt="...">
            {% endif %}
            {% else %}
            {% if x.hall.category == 'MH' %}
            <img src="{% static 'img/IMG_0299.JPG' %}" class="card-img" alt="...">
            {% else %}
            <img src="{% static 'img/IMG_9931.jpg' %}" class="card-img" alt="...">
            
            {% endif %}
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">User: {{ x.user }}</h5>
              {% if x.room.category %}
              <p class="card-text">Category: {{ x.get_room_category }}</p>
              {% else %}
              <p class="card-text">Category: {{ x.get_hall_category }}</p>
              {% endif %}
              <p class="card-text">From: {{ x.check_in }}</p>
              <p class="card-text">To: {{ x.check_out }}</p>
              {% if x.room.category %}
              <p class="card-text">Beds: {{ x.room.beds }}</p>
              {% else %}
              <p class="card-text">Capacity: {{ x.hall.capacity }}</p>
              {% endif %}

              <a href="{{ x.get_cancel_booking_url }}"> <i class="fa fa-window-close" aria-hidden="true"></i> Cancel Booking</a>
              <a class="btn  mt-2 px-3" style="background-color: dodgerblue; color: white; border-radius: 10px;" href="#">Make Payment <i class="fa fa-angle-right"></i></a>

            </div>
          </div>
        </div>
      </div>{% endfor %}
    </div>
    </div>
            
{% endblock %}