{% extends "base.html" %}
{% load static %}
{% block title %} EOWM - Profile {% endblock title %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Profile</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Profile</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    {% if not profile %}
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <form method="POST" enctype="multipart/form-data">
                    <h3>Fill in Your Details</h3>
                    
  
    {% csrf_token %}


  <div class="form-group">
    <label for="id_title">Title</label>
    <input type="text" class="form-control" name="title" id="id_title"  required>
    
  </div>
  <div class="form-group">
    <label for="id_surName">SurNAme</label>
    <input type="text" class="form-control" name="surName" id="id_surName"   required>
    
  </div>
  <div class="form-group">
    <label for="id_firstName">FirstName</label>
    <input type="text" class="form-control" name="firstName" id="id_firstName" required>
    
  </div>
  <div class="form-group">
    <label for="id_address">Address</label>
    <input type="text" class="form-control" name="address" id="id_address"   required>
    
  </div>
  <div class="form-group">
    <label for="id_city">City</label>
    <input type="text" class="form-control" name="city" id="id_city"   required>
    
  </div>
  <ul class="errorlist"><li>This field is required.</li></ul>
  <div class="form-group">
    
    <label for="id_country">Country</label>
    <input type="text" class="form-control" name="country" id="id_country"   required>
    
  </div>
  <div class="form-group">
    <label for="id_telephone1">Mobile</label>
    <input type="text" class="form-control" name="telephone1" id="id_telephone1"  required>
    
  </div>
  <ul class="errorlist"><li>This field is required.</li></ul>
  <div class="form-group">
    <label for="id_telephone2">Mobile 2</label>
    <input type="text" class="form-control" name="telephone2" id="id_telephone2"  required>
    
  </div>
    <h2>Next Of Kin</h2>

  <div class="form-group">
    <label for="id_contact_name">Name</label>
    <input type="text" class="form-control" name="contact_name" id="id_contact_name"  required>
    
  </div>
  <div class="form-group">
    <label for="id_contact_address">Address</label>
    <input type="text" class="form-control" name="contact_address" id="id_contact_address"  required>
    
  </div>
  <div class="form-group">
    <label for="id_contact_phone">Mobile</label>
    <input type="text" class="form-control" name="contact_phone" id="id_contact_phone"  required>
    
  </div>
  <div class="form-group">
    <label for="id_relationship">Relationship</label>
    <input type="text" class="form-control" name="relationship" id="id_relationship" required>
    
  </div>
  <h2>Upload Any Form Of Identification eg. NIN, PVC etc.</h2>
  <div class="form-group">
    <label for="id_idCard">ID Card</label>
    <input type="file" class="form-control" name="idCard" id="id_idCard" accept="image/*" required>
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</div>
</div>
{% else %}
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">

            <h3>Profile</h3>
            {% for user in profile %}
            

            <div class="card mb-3">
                <img class="card-img-top" src="{{ user.idCard.url }}" height="250px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Profile</h5>
                  <p class="card-text">Title: {{ user.title }}</p>
                  <p class="card-text">SurName: {{ user.surName }}</p>
                  <p class="card-text">FirstName: {{ user.firstName }}</p>
                  <p class="card-text">Address: {{ user.address }}</p>
                  <p class="card-text">City: {{ user.city }}</p>
                  <p class="card-text">Country: {{ user.country }}</p>
                  <p class="card-text">Telephone: {{ user.telephone1 }}</p>
                  <p class="card-text">Telephone: {{ user.telephone2 }}</p>
                  <p class="card-text"><small class="text-muted">Next Of Kin</small></p>
                  <p class="card-text">Name: {{ user.contact_name }}</p>
                  <p class="card-text">Address: {{ user.contact_address }}</p>
                  <p class="card-text">Phone: {{ user.contact_phone }}</p>
                  <p class="card-text">Relationship {{ user.relationship }}</p>
                </div>
              </div>
              
                

            {% endfor %}

            <button style="display: block; margin-top: 20px;" class="btn btn-outline-secondary">Edit</button>
            
</div>
</div>
</div>
{% endif %}
    {% endblock content %}