{% extends "base.html" %}
{% load static %}
{% block title %} EOWM - Halls {% endblock title %}
{% block style %} 
<style>
    /* #id_room_category{
        display: none;
    } */
</style>
{% endblock style %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Hall Booking</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Hall Booking</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container pt-5">
        <div class="row">
            
            <div class="col-lg-12 mb-5 blog-item">
                <form name="single_book" action="" method="Post">
                    {{form.as_p}}
                    {% csrf_token %}
                    <button type="submit">Submit</button>
                </form>
                
                </div>
                
                </div>
            </div>


{% endblock %}

{% block script %}

<script>
    const el = document.querySelector('[for="id_room_category"]').style.display = "none";
    
    document.getElementById("id_room_category").selectedIndex = "1";
    document.getElementById("id_room_category").style.display = "none";

</script>
{% endblock script %}